<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.b07project" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07project"
        tools:targetApi="31" >
        <activity
            android:name=".AdminEventsView"
            android:exported="false" />
        <activity
            android:name=".CustomerEventsView"
            android:exported="false" />
        <activity
            android:name=".AdminEventsViewOld"
            android:exported="false" />
        <activity
            android:name=".AdminAccountActivity"
            android:exported="false" />
        <activity
            android:name=".EventListActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".EventDetailHostActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_event_detail_host" -->
        <!-- android:resizeableActivity="true" -->
        <!-- tools:targetApi="24" /> -->
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".adminCreateVenue"
            android:exported="false" />
        <activity
            android:name=".customerScheduleEvent"
            android:exported="false" />
        <activity
            android:name=".customerCreateEvents"
            android:exported="false" />
        <activity
            android:name=".CustomerEventsViewActivityOld"
            android:exported="false" />
        <activity
            android:name=".CustomerVenuesView"
            android:exported="false" />
        <activity
            android:name=".RegisterNewUser"
            android:exported="false" />
        <activity
            android:name=".FilterPop"
            android:exported="false"
            android:theme="@style/AppTheme.Pop"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.B07project.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>